# Tutorial 1: Introduction to Python Fundamentals

In the first tutorial, our goal is to become familiar with basic data types, functions, and control structures in Python. We'll cover fundamental concepts including variables, data structures, conditional statements, loops, and practice exercises to reinforce your understanding.

## 1. Basic data types

Python has several built-in data types that are essential for programming:

1. **int** (Integer): Whole numbers
   - Example: `x = 1`
2. **float** (Floating-point): Decimal numbers
   - Example: `x = 1.5`
3. **bool** (Boolean): True or False values
   - Example: `x = True`, `x = False`
4. **str** (String): Text data
   - Example: `x = "hello world"`
5. **list**: Ordered, mutable collection
   - Example: `x = [1, 1.5, True, "hello world"]`
6. **dict** (Dictionary): Key-value pairs
   - Example: `x = {"name": "Tom", "age": 20, "height": 170}`

In [ ]:
# =============================================================================
# BASIC DATA TYPES DEMONSTRATION
# =============================================================================

# 1. INTEGER (int) - Represents whole numbers
x_int = 1
print(f"Integer: {x_int}, Type: {type(x_int)}")

# 2. FLOAT (float) - Represents decimal numbers
x_float = 1.5
print(f"Float: {x_float}, Type: {type(x_float)}")

# 3. BOOLEAN (bool) - Represents True/False values
# Booleans are crucial for conditional logic
x_bool_true = True
x_bool_false = False
print(f"Boolean True: {x_bool_true}, Type: {type(x_bool_true)}")
print(f"Boolean False: {x_bool_false}, Type: {type(x_bool_false)}")

Integer: 1, Type: <class 'int'>
Float: 1.5, Type: <class 'float'>
Boolean True: True, Type: <class 'bool'>
Boolean False: False, Type: <class 'bool'>

In [ ]:
# 4. STRING (str) - Represents text data
# Strings can be created with single or double quotes
x_str = "hello world"
print(f"String: '{x_str}', Type: {type(x_str)}")
print(f"String length: {len(x_str)} characters")

# 5. LIST - Ordered, mutable collection that can hold different data types
x_list = [1, 1.5, True, "hello world"]
print(f"List: {x_list}")
print(f"List type: {type(x_list)}, Length: {len(x_list)}")
print(f"First element: {x_list[0]}, Last element: {x_list[-1]}")

# 6. DICTIONARY (dict) - Stores key-value pairs
# Keys must be immutable (strings, numbers, tuples)
x_dict = {"name": "Tom", "age": 20, "height": 170}
print(f"Dictionary: {x_dict}")
print(f"Dictionary type: {type(x_dict)}")
print(f"Name: {x_dict['name']}, Age: {x_dict['age']}")

String: 'hello world', Type: <class 'str'>
String length: 11 characters
List: [1, 1.5, True, 'hello world']
List type: <class 'list'>, Length: 4
First element: 1, Last element: hello world
Dictionary: {'name': 'Tom', 'age': 20, 'height': 170}
Dictionary type: <class 'dict'>
Name: Tom, Age: 20

## 2. Lists and Operations

Lists are mutable sequences that can store different data types. Common operations include:

- **append()**: Add a single element to the end
- **extend()**: Add multiple elements to the end
- **insert()**: Add element at specific position
- **remove()**: Remove first occurrence of value
- **pop()**: Remove and return element at index
- **sort()**: Sort list in-place
- **sorted()**: Return new sorted list

Note: `append()` adds a single element, `extend()` adds multiple elements.

In [ ]:
# =============================================================================
# LIST OPERATIONS DEMONSTRATION
# =============================================================================

# Start with a simple list
nums = [3, 1, 2]
print(f"Initial list: {nums}")

# ADDING ELEMENTS TO LIST
# append() - adds a single element to the end
nums.append(5)
print(f"After append(5): {nums}")

# extend() - adds multiple elements to the end
# Note: extend() takes an iterable (list, tuple, etc.)
nums.extend([8, 13])
print(f"After extend([8, 13]): {nums}")

# insert() - adds element at specific position
# Syntax: list.insert(index, value)
nums.insert(1, 99)  # Insert 99 at index 1
print(f"After insert(1, 99): {nums}")

Initial list: [3, 1, 2]
After append(5): [3, 1, 2, 5]
After extend([8, 13]): [3, 1, 2, 5, 8, 13]
After insert(1, 99): [3, 99, 1, 2, 5, 8, 13]

In [ ]:
# REMOVING ELEMENTS FROM LIST
# pop() - removes and returns element at index (default: last element)
last = nums.pop()  # Removes last element
print(f"Popped element: {last}")
print(f"List after pop(): {nums}")

# remove() - removes first occurrence of specified value
nums.remove(99)  # Removes the value 99
print(f"After remove(99): {nums}")

Popped element: 13
List after pop(): [3, 99, 1, 2, 5, 8]
After remove(99): [3, 1, 2, 5, 8]

In [ ]:
# MODIFYING LIST ELEMENTS
# Assignment
nums[0] = 100
print(f"After assignment nums[0] = 100: {nums}")

# Slice assignment - replace multiple elements at once
nums[0:2] = [7, 7]  # Replace first two elements with [7, 7]
print(f"After slice assignment nums[:2] = [7, 7]: {nums}")

After assignment nums[0] = 100: [100, 1, 2, 5, 8]
After slice assignment nums[:2] = [7, 7]: [7, 7, 2, 5, 8]

In [ ]:
# SORTING LISTS
# sort() - sorts the list in-place (modifies original list)
nums.sort()
print(f"After in-place sort(): {nums}")

# sorted() - returns a new sorted list (original unchanged)
print(f"Sorted descending: {sorted(nums, reverse=True)}")
print(f"Original list unchanged: {nums}")

# ADVANCED SORTING
# Sort by absolute value using key parameter
vals = [-3, 10, -1, 2]
print(f"\nOriginal values: {vals}")
print(f"Sorted by absolute value: {sorted(vals, key=abs)}")
print(f"Sorted by absolute value (desc): {sorted(vals, key=abs, reverse=True)}")

After in-place sort(): [2, 5, 7, 7, 8]
Sorted descending: [8, 7, 7, 5, 2]
Original list unchanged: [2, 5, 7, 7, 8]

Original values: [-3, 10, -1, 2]
Sorted by absolute value: [-1, 2, -3, 10]
Sorted by absolute value (desc): [10, -3, 2, -1]

In [ ]:
# LIST COMPREHENSION

my_list = [2, 4, 6, 8, 10]

# create a list containing even numbers in [1, 10]
even_nums = [i for i in range(1, 11) if i % 2 == 0]
print(even_nums)

# create a list containing length of names
names = ["alice", "bob", 'cat']
name_length = [len(name) for name in names]
print(names)
print(name_length)

[2, 4, 6, 8, 10]
['alice', 'bob', 'cat']
[5, 3, 3]

## 3. Dictionaries

Dictionaries store data as key-value pairs. Since Python 3.7, dictionaries preserve insertion order.

**Key characteristics:**
- Keys must be unique and immutable (strings, numbers, tuples)
- Values can be any data type
- Fast lookup by key

**Useful methods:**
- **get()**: Safe access with default value
- **update()**: Add/update multiple key-value pairs
- **pop()**: Remove and return value for key
- **keys()**: Get all keys
- **values()**: Get all values
- **items()**: Get key-value pairs

In [ ]:
# =============================================================================
# DICTIONARY OPERATIONS DEMONSTRATION
# =============================================================================

# Create a dictionary with user information
user = {"id": 1001, "name": "Alice"}
print(f"Initial user dictionary: {user}")

# Direct access would raise KeyError if key doesn't exist
# print(user["email"])  # This would cause an error!

# SAFE ACCESS TO DICTIONARY VALUES
# get() method prevents KeyError if key doesn't exist
# Syntax: dict.get(key, default_value)
email = user.get("email", "<missing>")  # Returns default if key not found
print(f"Email (safe access): {email}")

Initial user dictionary: {'id': 1001, 'name': 'Alice'}
Email (safe access): <missing>

In [ ]:
# UPDATING DICTIONARIES
# Directly add/modify values
user["city"] = "New York"  # Direct assignment
print(f"After adding city: {user}")

# Alternative ways: update() method adds/modifies multiple key-value pairs
user.update({"email": "alice@example.com", "age": 25})
print(f"After update: {user}")

# REMOVING ITEMS FROM DICTIONARY
# pop() removes key and returns its value
removed_age = user.pop("age", None)  # None as default if key not found
print(f"\nRemoved age: {removed_age}")
print(f"Dictionary after removing age: {user}")

After adding city: {'id': 1001, 'name': 'Alice', 'city': 'New York'}
After update: {'id': 1001, 'name': 'Alice', 'city': 'New York', 'email': 'alice@example.com', 'age': 25}

Removed age: 25
Dictionary after removing age: {'id': 1001, 'name': 'Alice', 'city': 'New York', 'email': 'alice@example.com'}

In [ ]:
# ITERATING THROUGH DICTIONARIES
print("\nIterating through dictionary:")
# items() returns key-value pairs as tuples
for key, value in user.items():
    print(f"  {key}: {value}")

# Other iteration methods:
print(f"Keys only: {list(user.keys())}")
print(f"Values only: {list(user.values())}")

Iterating through dictionary:
  id: 1001
  name: Alice
  city: New York
  email: alice@example.com
Keys only: ['id', 'name', 'city', 'email']
Values only: [1001, 'Alice', 'New York', 'alice@example.com']

In [ ]:
# DICTIONARY COMPREHENSION
# Create a dictionary using comprehension syntax
names = ["alice", "bob", "charlie"]

# Create index mapping: name -> position (starting from 1)
name_index = {name: i for i, name in enumerate(names, start=1)}
print(f"\nName index dictionary: {name_index}")

# Zip names and addresses into a dictionary
addresses = ["Hong Kong", "New York", "London"]
name_address_dict = {name: addr for name, addr in zip(names, addresses)}
print(f"\nName-Address dictionary: {name_address_dict}")

# Create a dictionary of names and their lengths
name_lengths = {name: len(name) for name in names}
print(f"Name lengths: {name_lengths}")

Name index dictionary: {'alice': 1, 'bob': 2, 'charlie': 3}

Name-Address dictionary: {'alice': 'Hong Kong', 'bob': 'New York', 'charlie': 'London'}
Name lengths: {'alice': 5, 'bob': 3, 'charlie': 7}

## 4. Sets

Sets are unordered collections of unique elements. They're useful for removing duplicates and set operations.

**Key characteristics:**
- No duplicate elements
- Unordered (no indexing)
- Mutable (can add/remove elements)

**Set operations:**
- **Union** (`|` or `.union()`): All elements from both sets
- **Intersection** (`&` or `.intersection()`): Common elements
- **Difference** (`-` or `.difference()`): Elements in first set only
- **Symmetric difference** (`^`): Elements in either set, but not both

In [ ]:
# =============================================================================
# SET OPERATIONS DEMONSTRATION
# =============================================================================

# Create sets - notice how duplicates are automatically removed
a = set([1, 2, 2, 3])  # Convert list to set
b = {3, 4}              # Direct set creation
print(f"Set a: {a} (notice duplicate 2 was removed)")
print(f"Set b: {b}")

# SET OPERATIONS
# Union (|) - all unique elements from both sets
union_result = a | b
print(f"\nUnion a | b: {union_result}")
print(f"Union using method: {a.union(b)}")

# Intersection (&) - elements present in both sets
intersection_result = a & b
print(f"Intersection a & b: {intersection_result}")
print(f"Intersection using method: {a.intersection(b)}")

# Difference (-) - elements in first set but not in second
difference_result = a - b
print(f"Difference a - b: {difference_result}")
print(f"Difference b - a: {b - a}")

Set a: {1, 2, 3} (notice duplicate 2 was removed)
Set b: {3, 4}

Union a | b: {1, 2, 3, 4}
Union using method: {1, 2, 3, 4}
Intersection a & b: {3}
Intersection using method: {3}
Difference a - b: {1, 2}
Difference b - a: {4}

In [ ]:
# PRACTICAL EXAMPLE: Working with unique elements
print("\n" + "="*50)
print("PRACTICAL EXAMPLE: Removing duplicates from lists")
print("="*50)

# Remove duplicates from a list using set
numbers_with_duplicates = [1, 2, 2, 3, 3, 3, 4, 5, 5]
unique_numbers = list(set(numbers_with_duplicates))
print(f"Original list: {numbers_with_duplicates}")
print(f"Unique elements: {sorted(unique_numbers)}")

==================================================
PRACTICAL EXAMPLE: Removing duplicates from lists
==================================================
Original list: [1, 2, 2, 3, 3, 3, 4, 5, 5]
Unique elements: [1, 2, 3, 4, 5]

In [ ]:
# SET MEMBERSHIP AND METHODS
test_set = {1, 2, 3, 4, 5}
print(f"\nTest set: {test_set}")
print(f"Is 3 in set? {3 in test_set}")
print(f"Is 6 in set? {6 in test_set}")

# Adding and removing elements
test_set.add(6)
print(f"After adding 6: {test_set}")

test_set.discard(2)  # Remove element (no error if not present)
print(f"After discarding 2: {test_set}")

# Check subset and superset relationships
small_set = {1, 3}
print(f"\nIs {small_set} a subset of {test_set}? {small_set.issubset(test_set)}")
print(f"Is {test_set} a superset of {small_set}? {test_set.issuperset(small_set)}")

Test set: {1, 2, 3, 4, 5}
Is 3 in set? True
Is 6 in set? False
After adding 6: {1, 2, 3, 4, 5, 6}
After discarding 2: {1, 3, 4, 5, 6}

Is {1, 3} a subset of {1, 3, 4, 5, 6}? True
Is {1, 3, 4, 5, 6} a superset of {1, 3}? True

## 5. Conditional Statements

Conditional statements allow your program to make decisions based on conditions:

**Structure:**
- **if**: Execute code if condition is True
- **elif**: Check additional conditions
- **else**: Execute code if all conditions are False

**Comparison operators:**
- `==` (equal), `!=` (not equal)
- `<`, `>`, `<=`, `>=` (comparisons)
- `in`, `not in` (membership)

**Logical operators:**
- `and`, `or`, `not`

In [ ]:
# =============================================================================
# CONDITIONAL STATEMENTS DEMONSTRATION
# =============================================================================

# BASIC IF-ELIF-ELSE STRUCTURE
print("1. Basic conditional structure:")
x = 7
print(f"Testing value x = {x}")

if x > 10:
    print("  → x is greater than 10")
elif x == 10:
    print("  → x is equal to 10")
else:
    print("  → x is less than 10")

1. Basic conditional structure:
Testing value x = 7
  → x is less than 10

In [ ]:
# LOGICAL OPERATORS AND MULTIPLE CONDITIONS
print("\n2. Multiple conditions with logical operators:")
age = 25
has_license = True
print(f"Age: {age}, Has license: {has_license}")

if age >= 18 and has_license:
    print("  → Can drive a car")
elif age >= 18 and not has_license:
    print("  → Old enough but needs license")
else:
    print("  → Too young to drive")

2. Multiple conditions with logical operators:
Age: 25, Has license: True
  → Can drive a car

In [ ]:
# MEMBERSHIP TESTING
print("\n3. Membership testing with 'in' operator:")
fruits = ['apple', 'banana', 'cherry', 'orange']
search_fruit = 'apple'
print(f"Available fruits: {fruits}")
print(f"Looking for: {search_fruit}")

if search_fruit in fruits:
    print(f"  → {search_fruit} is available!")
else:
    print(f"  → {search_fruit} is not available")

3. Membership testing with 'in' operator:
Available fruits: ['apple', 'banana', 'cherry', 'orange']
Looking for: apple
  → apple is available!

In [ ]:
# NESTED CONDITIONS AND GRADE CALCULATION
print("\n4. Nested conditions (Grade calculator):")
score = 85
attendance = 90  # percentage
print(f"Score: {score}, Attendance: {attendance}%")

if score >= 60:  # Passing threshold
    if attendance >= 75:  # Good attendance
        if score >= 90:
            grade = 'A'
        elif score >= 80:
            grade = 'B'
        else:
            grade = 'C'
        print(f"  → Final grade: {grade} (Good attendance bonus)")
    else:
        grade = 'D'  # Poor attendance penalty
        print(f"  → Final grade: {grade} (Poor attendance penalty)")
else:
    print("  → Failed (Score below 60)")

4. Nested conditions (Grade calculator):
Score: 85, Attendance: 90%
  → Final grade: B (Good attendance bonus)

In [ ]:
# COMPARISON OPERATORS DEMONSTRATION
print("\n5. Comparison operators:")
a, b = 10, 20
print(f"a = {a}, b = {b}")
print(f"  a == b: {a == b}")
print(f"  a != b: {a != b}")
print(f"  a < b:  {a < b}")
print(f"  a <= b: {a <= b}")
print(f"  a > b:  {a > b}")
print(f"  a >= b: {a >= b}")

5. Comparison operators:
a = 10, b = 20
  a == b: False
  a != b: True
  a < b:  True
  a <= b: True
  a > b:  False
  a >= b: False

## 6. Loops
1. for
   - Used to iterate over a sequence (such as a list, tuple, dictionary, set, or string).
   - Example: `for x in [1, 2, 3]: print(x)`
2. while
   - Repeats as long as a condition is True.
   - Example: `while x < 5: x += 1`

Loops are useful for automating repetitive tasks and processing collections of data.

In [ ]:
# =============================================================================
# LOOPS DEMONSTRATION
# =============================================================================

# FOR LOOP BASICS
print("1. Basic for loop with range():")
# range(5) generates numbers 0, 1, 2, 3, 4
for i in range(5):
    print(f"  i = {i}")

# WHILE LOOP BASICS
print("\n2. Basic while loop:")
count = 0
while count < 5:
    print(f"  count = {count}")
    count += 1  # Increment counter (important to avoid infinite loop!)

1. Basic for loop with range():
  i = 0
  i = 1
  i = 2
  i = 3
  i = 4

2. Basic while loop:
  count = 0
  count = 1
  count = 2
  count = 3
  count = 4

In [ ]:
# FOR LOOP WITH LISTS
print("\n3. Iterating over a list:")
fruits = ["apple", "banana", "cherry"]
print(f"Fruits list: {fruits}")

# Method 1: Direct iteration (most Pythonic)
for fruit in fruits:
    print(f"  I like {fruit}")

# Method 2: Using enumerate
print("\nUsing index with enumerate():")
for index, fruit in enumerate(fruits):
    print(f"  Fruit {index}: {fruit}")

3. Iterating over a list:
Fruits list: ['apple', 'banana', 'cherry']
  I like apple
  I like banana
  I like cherry

Using index with enumerate():
  Fruit 0: apple
  Fruit 1: banana
  Fruit 2: cherry

In [ ]:
# LOOP CONTROL: BREAK AND CONTINUE
print("\n4. Loop control with break and continue:")
print("Finding odd numbers before 5...")

for num in range(10):  # 0 to 9
    if num == 5:
        print(f"  Found {num}, breaking out of loop")
        break  # Exit loop completely when num equals 5

    if num % 2 == 0:  # If number is even
        print(f"  Skipping {num} (even number)")
        continue  # Skip rest of loop body, go to next iteration

    print(f"  → Found odd number: {num}")

4. Loop control with break and continue:
Finding odd numbers before 5...
  Skipping 0 (even number)
  → Found odd number: 1
  Skipping 2 (even number)
  → Found odd number: 3
  Skipping 4 (even number)
  Found 5, breaking out of loop

In [ ]:
# NESTED LOOPS
print("\n5. Nested loops (multiplication table):")
print("3x3 multiplication table:")
for i in range(1, 4):  # Outer loop: 1, 2, 3
    for j in range(1, 4):  # Inner loop: 1, 2, 3
        product = i * j
        print(f"  {i} x {j} = {product}")
    print()  # Empty line after each row

5. Nested loops (multiplication table):
3x3 multiplication table:
  1 x 1 = 1
  1 x 2 = 2
  1 x 3 = 3

  2 x 1 = 2
  2 x 2 = 4
  2 x 3 = 6

  3 x 1 = 3
  3 x 2 = 6
  3 x 3 = 9

## 7. Functions

Functions are reusable blocks of code that perform specific tasks:

**Function structure:**
- **def**: Keyword to define a function
- **Parameters**: Input values (optional)
- **Return**: Output value (optional)
- **Docstring**: Function description (optional but recommended)

**Benefits:**
- Code reusability
- Better organization
- Easier testing and debugging
- Modular programming

In [ ]:
# =============================================================================
# FUNCTIONS DEMONSTRATION
# =============================================================================

# BASIC FUNCTION DEFINITION AND CALLING
print("1. Basic function definition:")

def greet(name):
    """
    Function to greet a person.

    Args:
        name (str): The name of the person to greet

    Returns:
        str: A greeting message
    """
    return f"Hello, {name}! Welcome to Python programming."

# Call the function and store the result
message = greet("Alice")
print(f"  {message}")

1. Basic function definition:
  Hello, Alice! Welcome to Python programming.

In [ ]:
# FUNCTION WITH MULTIPLE PARAMETERS
print("\n2. Function with multiple parameters:")

def calculate_area(length, width):
    """
    Calculate the area of a rectangle.

    Args:
        length (float): Length of the rectangle
        width (float): Width of the rectangle

    Returns:
        float: Area of the rectangle
    """
    area = length * width
    print(f"  Calculating area: {length} x {width} = {area}")
    return area

# Test the function
result = calculate_area(5, 3)
print(f"  Result stored in variable: {result}")

2. Function with multiple parameters:
  Calculating area: 5 x 3 = 15
  Result stored in variable: 15

In [ ]:
# FUNCTION WITH DEFAULT PARAMETERS
print("\n3. Function with default parameters:")

def introduce(name, age=25, city="Unknown"):
    """
    Introduce a person with optional parameters.

    Args:
        name (str): Person's name (required)
        age (int): Person's age (default: 25)
        city (str): Person's city (default: "Unknown")

    Returns:
        str: Introduction message
    """
    return f"My name is {name}, I'm {age} years old, from {city}"

# Test with different parameter combinations
print(f"  {introduce('Bob')}")  # Only required parameter
print(f"  {introduce('Carol', 30)}")  # Name and age
print(f"  {introduce('David', 28, 'New York')}")  # All parameters
print(f"  {introduce('Eve', city='Boston')}")  # Keyword argument

3. Function with default parameters:
  My name is Bob, I'm 25 years old, from Unknown
  My name is Carol, I'm 30 years old, from Unknown
  My name is David, I'm 28 years old, from New York
  My name is Eve, I'm 25 years old, from Boston

In [ ]:
# FUNCTION WITH VARIABLE ARGUMENTS
print("\n4. Function with variable arguments (*args, **kwargs):")

def calculate_total(*args, **kwargs):
    """
    Calculate total of numbers with optional tax and discount.

    Args:
        *args: Variable number of numbers to sum
        **kwargs: Optional tax_rate and discount

    Returns:
        float: Final total after tax and discount
    """
    # Sum all the numbers
    subtotal = sum(args)
    print(f"  Subtotal of {list(args)}: ${subtotal:.2f}")

    # Apply discount if provided
    discount = kwargs.get('discount', 0)
    if discount > 0:
        subtotal = subtotal * (1 - discount)
        print(f"  After {discount*100}% discount: ${subtotal:.2f}")

    # Apply tax if provided
    tax_rate = kwargs.get('tax_rate', 0)
    if tax_rate > 0:
        total = subtotal * (1 + tax_rate)
        print(f"  After {tax_rate*100}% tax: ${total:.2f}")
        return total

    return subtotal

# Test with different arguments
total1 = calculate_total(10, 20, 30)
print(f"  Final total: ${total1:.2f}")

total2 = calculate_total(15, 25, 35, tax_rate=0.08, discount=0.1)
print(f"  Final total: ${total2:.2f}")

4. Function with variable arguments (*args, **kwargs):
  Subtotal of [10, 20, 30]: $60.00
  Final total: $60.00
  Subtotal of [15, 25, 35]: $75.00
  After 10.0% discount: $67.50
  After 8.0% tax: $72.90
  Final total: $72.90

## 8. Short Practices
Try these exercises to reinforce your understanding of Python fundamentals:

1. **Calculate the sum from 1 to 100**
   - Use either a `for` loop or a `while` loop
   - Hint: Start with a variable `mysum = 0` and update it inside the loop
   - Expected result: 5050

2. **Transform a list based on conditions**
   - Given a list, for each element:
     - If the value is larger than 10, increase it by 1
     - Otherwise, decrease it by 2
   - Hint: Use a `for` loop and an `if` statement to check each value
   - Example: `[10, 11, 9, 4]` → `[8, 12, 7, 2]`

3. **Create a simple calculator function**
   - Write a function that takes two numbers and an operation (+, -, *, /)
   - Return the result of the operation
   - Handle division by zero

In [ ]:
# =============================================================================
# SOLUTIONS TO PRACTICE EXERCISES
# =============================================================================

print("EXERCISE 1: Calculate sum from 1 to 100")
print("="*50)

# SOLUTION 1A: Using for loop
# This is the most Pythonic approach
mysum = 0
for x in range(1, 101):  # range(1, 101) generates 1 to 100
    mysum += x  # Add current number to running total

print(f"Sum using for loop: {mysum}")

# SOLUTION 1B: Using while loop
# More verbose but demonstrates while loop usage
mysum_while = 0
i = 1
while i <= 100:
    mysum_while += i
    i += 1  # Don't forget to increment!

print(f"Sum using while loop: {mysum_while}")

# MATHEMATICAL VERIFICATION
# The sum of first n natural numbers is n(n+1)/2
n = 100
formula_result = n * (n + 1) // 2
print(f"Using mathematical formula n(n+1)/2: {formula_result}")
print(f"All methods give same result: {mysum == mysum_while == formula_result}")

# ALTERNATIVE: Using built-in sum() function
builtin_sum = sum(range(1, 101))
print(f"Using built-in sum(): {builtin_sum}")

EXERCISE 1: Calculate sum from 1 to 100
==================================================
Sum using for loop: 5050
Sum using while loop: 5050
Using mathematical formula n(n+1)/2: 5050
All methods give same result: True
Using built-in sum(): 5050

In [ ]:
print("EXERCISE 2: Transform list based on conditions")
print("="*70)

def transform_list(lst):
    """
    Transform list based on conditions:
    - If value > 10: add 1
    - If value <= 10: subtract 2

    Args:
        lst (list): List of numbers to transform

    Returns:
        list: Transformed list
    """
    result = []

    print("Transformation process:")
    for i, val in enumerate(lst):
        if val > 10:
            new_val = val + 1
            print(f"  Index {i}: {val} > 10, so {val} + 1 = {new_val}")
        else:
            new_val = val - 2
            print(f"  Index {i}: {val} <= 10, so {val} - 2 = {new_val}")

        result.append(new_val)

    return result

# Test the function with given example
original_list = [10, 11, 9, 4]
print(f"\nOriginal list: {original_list}")
transformed = transform_list(original_list)
print(f"Transformed list: {transformed}")

# ALTERNATIVE: Using list comprehension (more concise)
transformed_compact = [x + 1 if x > 10 else x - 2 for x in original_list]
print(f"Using list comprehension: {transformed_compact}")

# Test with additional examples
test_cases = [
    [5, 15, 10, 20],
    [1, 2, 3],
    [11, 12, 13, 14]
]

print("\nAdditional test cases:")
for i, test_list in enumerate(test_cases, 1):
    result = transform_list(test_list)
    print(f"Test {i}: {test_list} → {result}")
    print()

EXERCISE 2: Transform list based on conditions
======================================================================

Original list: [10, 11, 9, 4]
Transformation process:
  Index 0: 10 <= 10, so 10 - 2 = 8
  Index 1: 11 > 10, so 11 + 1 = 12
  Index 2: 9 <= 10, so 9 - 2 = 7
  Index 3: 4 <= 10, so 4 - 2 = 2
Transformed list: [8, 12, 7, 2]
Using list comprehension: [8, 12, 7, 2]

Additional test cases:
Transformation process:
  Index 0: 5 <= 10, so 5 - 2 = 3
  Index 1: 15 > 10, so 15 + 1 = 16
  Index 2: 10 <= 10, so 10 - 2 = 8
  Index 3: 20 > 10, so 20 + 1 = 21
Test 1: [5, 15, 10, 20] → [3, 16, 8, 21]

Transformation process:
  Index 0: 1 <= 10, so 1 - 2 = -1
  Index 1: 2 <= 10, so 2 - 2 = 0
  Index 2: 3 <= 10, so 3 - 2 = 1
Test 2: [1, 2, 3] → [-1, 0, 1]

Transformation process:
  Index 0: 11 > 10, so 11 + 1 = 12
  Index 1: 12 > 10, so 12 + 1 = 13
  Index 2: 13 > 10, so 13 + 1 = 14
  Index 3: 14 > 10, so 14 + 1 = 15
Test 3: [11, 12, 13, 14] → [12, 13, 14, 15]