# Tutorial 3: Introduction to Pandas

In this tutorial, our goal is to become familiar with pandas, a powerful data manipulation and analysis library in Python. We'll cover creating DataFrames, basic operations, data selection, filtering, and aggregation.

## 1. Installing and Importing Pandas

Pandas is a powerful data manipulation library. First, we need to import it:

- **Import pandas**: `import pandas as pd`
- **Import numpy** (often used with pandas): `import numpy as np`

In [ ]:
# Import pandas and numpy
import pandas as pd
import numpy as np

# Check versions
print("Pandas version:", pd.__version__)
print("Numpy version:", np.__version__)

Pandas version: 2.2.2
Numpy version: 2.0.2

## 2. Creating DataFrames

DataFrames are the primary data structure in pandas. You can create them in several ways:

1. **From a dictionary**: `pd.DataFrame(dict)`
2. **From lists**: `pd.DataFrame(list_of_lists, columns=[...])`
3. **From CSV files**: `pd.read_csv('filename.csv')`
4. **From NumPy arrays**: `pd.DataFrame(np_array)`

In [ ]:
# Example 1: Create DataFrame from dictionary
data_dict = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'London', 'Tokyo', 'Paris'],
    'Salary': [50000, 60000, 70000, 55000]
}
df_dict = pd.DataFrame(data_dict)
print("DataFrame from dictionary:")
print(df_dict)

DataFrame from dictionary:
      Name  Age      City  Salary
0    Alice   25  New York   50000
1      Bob   30    London   60000
2  Charlie   35     Tokyo   70000
3    Diana   28     Paris   55000

In [ ]:
# Example 2: Create DataFrame from lists
data_lists = [
    ['Alice', 25, 'New York', 50000],
    ['Bob', 30, 'London', 60000],
    ['Charlie', 35, 'Tokyo', 70000],
    ['Diana', 28, 'Paris', 55000]
]
columns = ['Name', 'Age', 'City', 'Salary']
df_lists = pd.DataFrame(data_lists, columns=columns)
print("\nDataFrame from lists:")
print(df_lists)

DataFrame from lists:
      Name  Age      City  Salary
0    Alice   25  New York   50000
1      Bob   30    London   60000
2  Charlie   35     Tokyo   70000
3    Diana   28     Paris   55000

In [ ]:
# Example 3: Create DataFrame from NumPy array
np_array = np.random.rand(3, 4)
df_numpy = pd.DataFrame(np_array, columns=['A', 'B', 'C', 'D'])
print("\nDataFrame from NumPy array:")
print(df_numpy)

DataFrame from NumPy array:
          A         B         C         D
0  0.303378  0.748685  0.184179  0.484964
1  0.760764  0.923855  0.338233  0.684831
2  0.310486  0.416080  0.339841  0.180904

## 3. Basic DataFrame Operations

Once you have a DataFrame, you can perform various operations:

- **View data**: `.head()`, `.tail()`, `.info()`, `.describe()`
- **Shape**: `.shape` (rows, columns)
- **Column names**: `.columns`
- **Data types**: `.dtypes`

In [ ]:
# Using the DataFrame from dictionary
df = df_dict.copy()  # Make a copy to work with

# View basic information
print("First 3 rows:")
print(df.head(3))

First 3 rows:
      Name  Age      City  Salary
0    Alice   25  New York   50000
1      Bob   30    London   60000
2  Charlie   35     Tokyo   70000

In [ ]:
print("\nLast 2 rows:")
print(df.tail(2))

Last 2 rows:
      Name  Age   City  Salary
2  Charlie   35  Tokyo   70000
3    Diana   28  Paris   55000

In [ ]:
print("\nDataFrame info:")
df.info()

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Age     4 non-null      int64
 2   City    4 non-null      object
 3   Salary  4 non-null      int64
dtypes: int64(2), object(2)
memory usage: 260.0+ bytes

In [ ]:
print("\nStatistical summary:")
print(df.describe())

Statistical summary:
             Age        Salary
count   4.000000      4.000000
mean   29.500000  58750.000000
std     4.203173   8539.125638
min    25.000000  50000.000000
25%    27.250000  53750.000000
50%    29.000000  57500.000000
75%    31.250000  62500.000000
max    35.000000  70000.000000

In [ ]:
print("\nShape (rows, columns):", df.shape)
print("Column names:", list(df.columns))
print("Data types:")
print(df.dtypes)

Shape (rows, columns): (4, 4)
Column names: ['Name', 'Age', 'City', 'Salary']
Data types:
Name      object
Age        int64
City      object
Salary     int64
dtype: object

## 4. Data Selection and Indexing

You can select specific columns, rows, or individual values:

- **Select column**: `df['column_name']` or `df.column_name`
- **Select multiple columns**: `df[['col1', 'col2']]`
- **Select rows by index**: `df.iloc[row_index, col_index]`
- **Select rows by label**: `df.loc[row_label, col_label]`
- **Select specific cell efficiently**: `df.at[row_label, col_label]`

In [ ]:
# Select single column
print("Select 'Name' column:")
df['Name']

Select 'Name' column:

0      Alice
1        Bob
2    Charlie
3      Diana
Name: Name, dtype: object

In [ ]:
# Select multiple columns
print("\nSelect 'Name' and 'Age' columns:")
df[['Name', 'Age']]

Select 'Name' and 'Age' columns:

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    Diana   28

In [ ]:
# Select rows by index position
print("\nFirst row (index 0):")
print(df.iloc[0])

print("\nRows 1-2 (index 1-2):")
print(df.iloc[1:3])

First row (index 0):
Name         Alice
Age             25
City      New York
Salary       50000
Name: 0, dtype: object

Rows 1-2 (index 1-2):
      Name  Age    City  Salary
1      Bob   30  London   60000
2  Charlie   35   Tokyo   70000

In [ ]:
# Select specific cell
print("\nAge of second person:")
print(df.iloc[1, 1])

print(df.at[1, 'Age'])

### 1. `iloc`
- **Purpose**: Primarily used for integer-location based indexing.
- **Indexing Type**: Uses integer-based indices (0-based).
- **Syntax**: `DataFrame.iloc[row_index, column_index]`
- **Row/Column Selection**:
  - Rows and columns can be selected using integer positions.
  - Supports slicing (e.g., `df.iloc[0:5, 0:3]` selects rows 0 to 4 and columns 0 to 2).
- **Returns**: A DataFrame or Series depending on the selection.
- **Use Case**: When you want to access data by its numerical index, regardless of the actual labels.

### 2. `loc`
- **Purpose**: Used for label-based indexing.
- **Indexing Type**: Uses label-based indices (row and column names).
- **Syntax**: `DataFrame.loc[row_label, column_label]`
- **Row/Column Selection**:
  - Rows and columns can be selected using labels.
  - Supports slicing with labels (e.g., `df.loc[0:1, 'A']` selects rows with labels 0 and 1 for column 'A').
- **Returns**: A DataFrame or Series depending on the selection.
- **Use Case**: When you want to access data using the actual row and column labels.

### 3. `at`
- **Purpose**: Used for fast access to a single scalar value.
- **Indexing Type**: Uses label-based indexing, similar to `loc`.
- **Syntax**: `DataFrame.at[row_label, column_label]`
- **Row/Column Selection**:
  - Accesses a single value for a row/column label pair.
- **Returns**: A scalar value.
- **Use Case**: When you need to quickly access a single value in a DataFrame.

### Summary Table

| Feature        | `iloc`                        | `loc`                         | `at`                          |
|----------------|-------------------------------|-------------------------------|-------------------------------|
| Purpose        | Integer-location based indexing | Label-based indexing           | Fast access to a single value  |
| Indexing Type  | Integer-based (0-based)      | Label-based                   | Label-based                   |
| Syntax         | `df.iloc[row, col]`         | `df.loc[row, col]`           | `df.at[row, col]`            |
| Return Type    | DataFrame/Series             | DataFrame/Series              | Scalar                        |
| Use Case       | Access by numerical index     | Access by actual labels       | Quick access to a single value|

### Performance Considerations
- `at` is generally faster than `loc` because it is optimized for accessing single values.
- `iloc` and `loc` are more versatile for selecting multiple rows/columns.

## 5. Data Filtering and Boolean Indexing

Filter data based on conditions:

- **Single condition**: `df[df['column'] > value]`
- **Multiple conditions**: `df[(df['col1'] > val1) & (df['col2'] == val2)]`
- **String operations**: `df[df['column'].str.contains('text')]`
- **Isin method**: `df[df['column'].isin(['value1', 'value2'])]`

Note: Use `&` for AND, `|` for OR, and `~` for NOT in boolean operations.

In [ ]:
# Single condition filtering
print("People with salary > 55000:")
high_salary = df[df['Salary'] > 55000]

print(high_salary)

People with salary > 55000:
      Name  Age    City  Salary
1      Bob   30  London   60000
2  Charlie   35   Tokyo   70000

In [ ]:
# Multiple conditions
print("\nPeople aged 25-30 with salary > 50000:")
filtered = df[(df['Age'] >= 25) & (df['Age'] <= 30) & (df['Salary'] > 50000)]

print(filtered)

People aged 25-30 with salary > 50000:
    Name  Age    City  Salary
1    Bob   30  London   60000
3  Diana   28   Paris   55000

In [ ]:
# String operations
print("\nPeople whose names start with 'A':")

names_start_with_a = df[df['Name'].str.startswith('A')]

names_start_with_a

People whose names start with 'A':

    Name  Age      City  Salary
0  Alice   25  New York   50000

In [ ]:
# Using isin method
print("\nPeople from New York or London:")

cities_filter = df[df['City'].isin(['New York', 'London'])]

cities_filter

People from New York or London:

    Name  Age      City  Salary
0  Alice   25  New York   50000
1    Bob   30    London   60000

In [ ]:
# Negation (NOT)
print("\nPeople NOT from Tokyo:")

not_tokyo = df[~(df['City'] == 'Tokyo')]
not_tokyo

People NOT from Tokyo:

    Name  Age      City  Salary
0  Alice   25  New York   50000
1    Bob   30    London   60000
3  Diana   28     Paris   55000

## 6. Adding and Modifying Data

You can add new columns, modify existing ones, or add new rows:

- **Add new column**: `df['new_column'] = values`
- **Modify existing column**: `df['column'] = new_values`
- **Add calculated column**: `df['new_col'] = df['col1'] + df['col2']`
- **Add new row**: `df.loc[new_row] = [values]`
- **Drop columns**: `df.drop(['col1', 'col2'], axis=1)`
- **Drop rows**: `df.drop([index1, index2], axis=0)`

In [ ]:
# Create a copy to modify
df_modified = df.copy()
print("Original DataFrame:")
print(df_modified)

# Add new column
df_modified['Experience'] = [3, 5, 10, 2]
print("\nAfter adding 'Experience' column:")
print(df_modified)

Original DataFrame:
      Name  Age      City  Salary
0    Alice   25  New York   50000
1      Bob   30    London   60000
2  Charlie   35     Tokyo   70000
3    Diana   28     Paris   55000

After adding 'Experience' column:
      Name  Age      City  Salary  Experience
0    Alice   25  New York   50000           3
1      Bob   30    London   60000           5
2  Charlie   35     Tokyo   70000          10
3    Diana   28     Paris   55000           2

In [ ]:
# Add calculated column
df_modified['Salary_per_Year_Experience'] = df_modified['Salary'] / df_modified['Experience']
print("\nAfter adding calculated column:")
print(df_modified)

After adding calculated column:
      Name  Age      City  Salary  Experience  Salary_per_Year_Experience
0    Alice   25  New York   50000           3                16666.666667
1      Bob   30    London   60000           5                12000.000000
2  Charlie   35     Tokyo   70000          10                 7000.000000
3    Diana   28     Paris   55000           2                27500.000000

In [ ]:
# Modify existing column
df_modified['Age'] = df_modified['Age'] + 1  # Everyone gets one year older
print("\nAfter aging everyone by 1 year:")
print(df_modified)

After aging everyone by 1 year:
      Name  Age      City  Salary  Experience  Salary_per_Year_Experience
0    Alice   26  New York   50000           3                16666.666667
1      Bob   31    London   60000           5                12000.000000
2  Charlie   36     Tokyo   70000          10                 7000.000000
3    Diana   29     Paris   55000           2                27500.000000

In [ ]:
# Add new row
df_modified.loc[4] = ['Eve', 26, 'Berlin', 52000, 4, 13000.0]
print("\nAfter adding new person:")
print(df_modified)

After adding new person:
      Name  Age      City  Salary  Experience  Salary_per_Year_Experience
0    Alice   26  New York   50000           3                16666.666667
1      Bob   31    London   60000           5                12000.000000
2  Charlie   36     Tokyo   70000          10                 7000.000000
3    Diana   29     Paris   55000           2                27500.000000
4      Eve   26    Berlin   52000           4                13000.000000

In [ ]:
# Drop a column
df_no_exp = df_modified.drop(['Experience'], axis=1)
print("\nAfter dropping 'Experience' column:")
print(df_no_exp)

After dropping 'Experience' column:
      Name  Age      City  Salary  Salary_per_Year_Experience
0    Alice   26  New York   50000                16666.666667
1      Bob   31    London   60000                12000.000000
2  Charlie   36     Tokyo   70000                 7000.000000
3    Diana   29     Paris   55000                27500.000000
4      Eve   26    Berlin   52000                13000.000000

In [ ]:
# Apply: complex transformation
def is_adult(age):
    if age >= 18:
        return True
    return False

df_modified['is_adult'] = df_modified['Age'].apply(is_adult)

## 7. Grouping and Aggregation

Group data and perform aggregate operations:

- **Group by single column**: `df.groupby('column')`
- **Group by multiple columns**: `df.groupby(['col1', 'col2'])`
- **Aggregate functions**: `.sum()`, `.mean()`, `.count()`, `.min()`, `.max()`
- **Multiple aggregations**: `.agg(['sum', 'mean', 'count'])`
- **Custom aggregation**: `.agg({'col1': 'sum', 'col2': 'mean'})`

In [ ]:
# Create sample data with more entries for grouping
sales_data = {
    'Product': ['A', 'B', 'A', 'C', 'B', 'A', 'C', 'B'],
    'Region': ['North', 'South', 'North', 'East', 'South', 'East', 'North', 'North'],
    'Sales': [100, 150, 120, 200, 180, 90, 160, 140],
    'Quantity': [10, 15, 12, 20, 18, 9, 16, 14]
}
sales_df = pd.DataFrame(sales_data)
print("Sales data:")
print(sales_df)

Sales data:
  Product Region  Sales  Quantity
0       A  North    100        10
1       B  South    150        15
2       A  North    120        12
3       C   East    200        20
4       B  South    180        18
5       A   East     90         9
6       C  North    160        16
7       B  North    140        14

In [ ]:
# Group by single column
print("\nTotal sales by product:")
product_sales = sales_df.groupby('Product')['Sales'].sum()
print(product_sales)

Total sales by product:
Product
A    310
B    470
C    360
Name: Sales, dtype: int64

In [ ]:
# Group by multiple columns
print("\nAverage sales by product and region:")
product_region_avg = sales_df.groupby(['Product', 'Region'])['Sales'].mean()
print(product_region_avg)

Average sales by product and region:
Product  Region
A        East       90.0
         North     110.0
B        North     140.0
         South     165.0
C        East      200.0
         North     160.0
Name: Sales, dtype: float64

In [ ]:
# Multiple aggregations
print("\nMultiple aggregations by product:")
multi_agg = sales_df.groupby('Product').agg({
    'Sales': ['sum', 'mean', 'count'],
    'Quantity': ['sum', 'max']
})
print(multi_agg)

Multiple aggregations by product:
        Sales                   Quantity
          sum        mean count      sum max
Product
A         310  103.333333     3       31  12
B         470  156.666667     3       47  18
C         360  180.000000     2       36  20

## 8. Sorting and Ranking

Sort DataFrames by values or index:

- **Sort by single column**: `df.sort_values('column')`
- **Sort by multiple columns**: `df.sort_values(['col1', 'col2'])`
- **Sort descending**: `df.sort_values('column', ascending=False)`
- **Sort by index**: `df.sort_index()`
- **Ranking**: `df['column'].rank()`

In [ ]:
# Using our original employee data
print("Original data:")
print(df)

# Sort by age (ascending)
print("\nSorted by age (ascending):")
sorted_by_age = df.sort_values('Age')
print(sorted_by_age)

# Sort by salary (descending)
print("\nSorted by salary (descending):")
sorted_by_salary = df.sort_values('Salary', ascending=False)
print(sorted_by_salary)

Original data:
      Name  Age      City  Salary
0    Alice   25  New York   50000
1      Bob   30    London   60000
2  Charlie   35     Tokyo   70000
3    Diana   28     Paris   55000

Sorted by age (ascending):
      Name  Age      City  Salary
0    Alice   25  New York   50000
3    Diana   28     Paris   55000
1      Bob   30    London   60000
2  Charlie   35     Tokyo   70000

Sorted by salary (descending):
      Name  Age      City  Salary
2  Charlie   35     Tokyo   70000
1      Bob   30    London   60000
3    Diana   28     Paris   55000
0    Alice   25  New York   50000

In [ ]:
# Sort by multiple columns
print("\nSorted by city, then by age:")
sorted_multi = df.sort_values(['City', 'Age'])
print(sorted_multi)

Sorted by city, then by age:
      Name  Age      City  Salary
1      Bob   30    London   60000
0    Alice   25  New York   50000
3    Diana   28     Paris   55000
2  Charlie   35     Tokyo   70000

In [ ]:
# Add salary ranking
df_with_rank = df.copy()
df_with_rank['Salary_Rank'] = df['Salary'].rank(ascending=False)
print("\nWith salary ranking (1 = highest salary):")
print(df_with_rank)

With salary ranking (1 = highest salary):
      Name  Age      City  Salary  Salary_Rank
0    Alice   25  New York   50000          4.0
1      Bob   30    London   60000          2.0
2  Charlie   35     Tokyo   70000          1.0
3    Diana   28     Paris   55000          3.0

## 9. Short Practices
Try these exercises to reinforce your understanding of pandas:

1. **Create and analyze a student dataset**
   - Create a DataFrame with columns: 'Name', 'Math_Score', 'English_Score', 'Science_Score'
   - Add at least 5 students with different scores
   - Calculate the average score for each student
   - Find students with Math score > 85

2. **Sales analysis**
   - Use the provided sales data or create your own
   - Find the total sales by region
   - Identify the best-selling product
   - Calculate the average quantity sold per product

3. **Data manipulation challenge**
   - Filter employees with salary between 50000 and 65000
   - Add a new column 'Salary_Category' (High: >60000, Medium: 50000-60000, Low: <50000)
   - Sort the data by salary in descending order

In [ ]:
# Exercise 1: Student dataset
student_data = {
    'Name': ['John', 'Emma', 'Michael', 'Sophia', 'James'],
    'Math_Score': [88, 92, 78, 95, 85],
    'English_Score': [85, 88, 90, 87, 82],
    'Science_Score': [90, 85, 88, 92, 89]
}
students_df = pd.DataFrame(student_data)
print("Student dataset:")
print(students_df)


## Calculate the average score for each student
students_df['Avg_score'] = students_df[['Math_Score', 'English_Score', 'Science_Score']].mean(axis=1)
print('\n With avg scores')
print(students_df)

## Find students with Math score > 85
high_math = students_df[students_df['Math_Score'] > 85]
print(high_math)

Student dataset:
      Name  Math_Score  English_Score  Science_Score
0     John          88             85             90
1     Emma          92             88             85
2  Michael          78             90             88
3   Sophia          95             87             92
4    James          85             82             89

 With avg scores
      Name  Math_Score  English_Score  Science_Score  Avg_score
0     John          88             85             90  87.666667
1     Emma          92             88             85  88.333333
2  Michael          78             90             88  85.333333
3   Sophia          95             87             92  91.333333
4    James          85             82             89  85.333333
     Name  Math_Score  English_Score  Science_Score  Avg_score
0    John          88             85             90  87.666667
1    Emma          92             88             85  88.333333
3  Sophia          95             87             92  91.333333

In [ ]:
# Solution 2: Sales analysis (using existing sales_df)
print(sales_df)

## Find the total sales by region
sales_by_region = sales_df.groupby('Region')['Sales'].sum()
print('\n Total sales by region:')
print(sales_by_region)

## Identify the best-selling product
sales_by_product = sales_df.groupby('Product')['Sales'].sum()
best_product = sales_by_product.idxmax()
print('\n Best-selling produce:', best_product)

## Calculate the average quantity sold per product
avg_quantity = sales_df.groupby('Product')['Quantity'].mean()
print(avg_quantity)

  Product Region  Sales  Quantity
0       A  North    100        10
1       B  South    150        15
2       A  North    120        12
3       C   East    200        20
4       B  South    180        18
5       A   East     90         9
6       C  North    160        16
7       B  North    140        14

 Total sales by region:
Region
East     290
North    520
South    330
Name: Sales, dtype: int64

 Best-selling produce: B
Product
A    10.333333
B    15.666667
C    18.000000
Name: Quantity, dtype: float64

In [ ]:
# Solution 3: Data manipulation challenge
df

# Filter employees with salary between 50000 and 65000
salary_filter = df[(df['Salary'] >= 50000) & (df['Salary'] <= 65000)]
print("\nEmployess with salary between 50000 and 65000")
print(salary_filter)

# Add salary category column
def categorize_salary(salary):
    if salary > 60000:
        return 'High'
    elif salary >= 50000:
        return 'Mediuim'
    else:
        return 'Low'
df['Salary_Category'] = df['Salary'].apply(categorize_salary)
print(df)

# Sort by salary descending
sorted_by_salary_desc = df.sort_values('Salary', ascending=False)
print(sorted_by_salary)

Employess with salary between 50000 and 65000
    Name  Age      City  Salary Salary_Category
0  Alice   25  New York   50000         Mediuim
1    Bob   30    London   60000         Mediuim
3  Diana   28     Paris   55000         Mediuim
      Name  Age      City  Salary Salary_Category
0    Alice   25  New York   50000         Mediuim
1      Bob   30    London   60000         Mediuim
2  Charlie   35     Tokyo   70000            High
3    Diana   28     Paris   55000         Mediuim
      Name  Age      City  Salary
2  Charlie   35     Tokyo   70000
1      Bob   30    London   60000
3    Diana   28     Paris   55000
0    Alice   25  New York   50000